// Styling for the call to action section
section.cta {
    position: relative;
    padding: 250px 0;
    background-image: url('../img/slack.png');
    
    .cta-content {

            h1 {
                font-size: 30px;
                color: white;
            }
        
        @media (min-width: 768px) {
            h1 {
                font-size: 40px;
                
            }
        }
    }

    .darken {
        text-align: center;
        padding-left: 8px;
        padding-bottom: 12px;
        background-color: rgba(0,0,0,.3)
    }
    // .overlay {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     z-index: -3;;
    //     background-color: fade-out(black, .8);
    // }
}
